/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
}

header {
	background-color: #0060A0;
	height: 75px;
	color: white;
}

header * {
	display: inline-block;
}

header h1 {
	vertical-align: top;
	margin-top: 15px;
	font-size: 3em;
}

/* Navigation */
nav {
	margin-top: 50px;
}

nav > h2 {
	margin-bottom: 15px;
}

nav > ul {
	border-width: 2px;
	border-style: solid;
	padding-left: 7px;
}

nav ul {
	list-style: none;
}

nav ul > li > ul {
	padding-left: 15px;
}

/* Grosser Titel der Wiki Seite */
.article-header * {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Side-picture */
.section-picture {
	color: grey;
}

/* Section Styles*/
section > h3 {
	border-bottom-style: solid;
	margin-bottom: 15px;
}

section > h4 {
	margin-bottom: 15px;
}

section > p {
	margin-bottom: 15px;
}

.section-picture a {
	color: black;
}

.section-picture img {
	width: 200px;
}

.calculator-variants section>ul {
	padding-left: 40px;
	margin: 0;
}

.calculator-variants section>h4 {
	color: #0563A2;
}

.best-and-worst-calcs ol {
	padding-left: 40px;
}



/* images */



/* text */



/* lists */



/* table */



/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}