/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

nav a {
	color: rgb(96, 155, 194);
}

main a {
	color: black;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	
	margin-left: 100px;
	margin-right: 100px;
	counter-reset: h3;
}

header {
	background-color: #0060A0;
	height: 75px;
	color: white;
}

header * {
	display: inline-block;
}

header h1 {
	vertical-align: top;
	margin-top: 15px;
	font-size: 3em;
}

/* Navigation */
nav {
	margin-top: 50px;
}

nav > h2 {
	margin-bottom: 15px;
}

nav > ul {
	border-width: 2px;
	border-style: solid;
	border-color: rgb(60, 120, 150);
	padding: 7px;
}

nav ul {
	list-style: none;
}

nav ul > li > ul {
	padding-left: 15px;
}

/* Grosser Titel der Wiki Seite */
.article-header * {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Side-picture */
.section-picture {
	color: grey;
}

/* Section Styles*/
section {
	margin-bottom: 15px;
}

section > h3 {
	border-bottom-style: solid;
	margin-bottom: 15px;
}

section > h3::before {
	counter-increment: h3;
	content: counter(h3) " ";
}

section > h4 {
	margin-bottom: 15px;
}

section > p {
	margin-bottom: 15px;
}

.section-picture {
	float: left;
	margin-top: 30px;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 240px;
}

.section-picture a {
	color: black;
}

.section-picture img {
	width:200px;
}

/* Taschenrechner Varianten */
.calculator-variants section > ul {
	padding-left: 40px;
	margin: 0;
}

.calculator-variants section > h4 {
	color: #0563A2;
}

.best-and-worst-calcs > ol {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-position: inside;
}

/* Schriftgrösse ändern */
#font-size-form {
	float: right;
}

#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

/* Taschenrechner Demo */
.calc-demo {
	width: 600px;
	height: 650px;
}

.last-changed {
	border-style: dotted;
	border-width: 1px;
}

/* Zeitgewinn Tabelle */
.time-optimizations table, th, td {
}

.time-optimizations > table {
	width: 100%;
	border-spacing: 0;
}

.time-optimizations th {
	color: white;
	background-color: rgb(0, 96, 160);
	border: 0 solid black;
	border-top-width: 3px;
	border-bottom-width: 3px;
	padding: 10px;
}

.time-optimizations td {
	padding: 10px;
	text-align: center;
}

.time-optimizations > table tr:nth-child(odd) > td {
	background-color: rgb(219, 230, 239);
	border: 0 solid rgb(189, 208, 228);
	border-top-width: 2px;
	border-bottom-width: 2px;
}

.time-optimizations > table td:first-child {
	text-align: left;
	font-weight: bold;
}

/* Buttons */
button {
	background-color: #0060A0;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	margin: 4px 2px;
	cursor: pointer;
}

/* Anmeldeformular*/
input[type=text], [type=email], [type=url], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-group {
	margin-top: 10px;
	margin-bottom: 10px;
}